# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
# from pprint import pprint
from lxml import html
from lxml.html import fromstring
# import urllib.request
# from urllib.request import urlopen
import random
import re
import html5lib
# import scrapy

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [361]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [362]:
#your code
conts = requests.get(url).content

In [363]:
git_soup = BeautifulSoup(conts, 'html5lib')

In [364]:
names = git_soup.find_all('h1', {"class":"h3 lh-condensed"})

In [365]:
nick = git_soup.find_all('a', {'class':"link-gray"})
nick = nick[19:44]

In [366]:
nicks = [i.text for i in nick]
names_s = [i.text for i in names]

In [367]:
for i in range(len(names_s)):
    names_s[i] = names_s[i] +" "+ "(" + nicks[i] + ")"
names_s

['Eric Ma (ericmjl)',
 'Federico Brigante (bfred-it)',
 'Kyle Roach (iRoachie)',
 'Olle Jonsson (olleolleolle)',
 'Nikita Sobolev (sobolevn)',
 'Frank S. Thomas (fthomas)',
 'syuilo (syuilo)',
 'Ives van Hoorne (CompuIves)',
 'Paulus Schoutsen (balloob)',
 'Sarah Drasner (sdras)',
 'Stefanos Kornilios Mitsis Poiitidis (skmp)',
 'Jan Hovancik (hovancik)',
 'Andreas Mueller (amueller)',
 'Guillaume Gomez (GuillaumeGomez)',
 'Matt Holt (mholt)',
 'Clifford Wolf (cliffordwolf)',
 'Franck Nijhof (frenck)',
 'Joe Block (unixorn)',
 'Andrei Neagoie (aneagoie)',
 'Jack Lloyd (randombit)',
 'Guillermo Rauch (rauchg)',
 'Tim Griesser (tgriesser)',
 'Jameson Nash (vtjnash)',
 'Anderson Banihirwe (andersy005)',
 'Danny Ryan (djrtwo)']

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [368]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/python?since=daily'

In [369]:
#your code
repos = requests.get(url).content
repo_soup = BeautifulSoup(repos, 'html5lib')

In [370]:
reposi = repo_soup.find_all('h1', {"class":"h3 lh-condensed"})

In [371]:
repos = [i.text for i in reposi]

In [372]:
repos = [i.replace('\n', '') for i in repos]
repos = [i.replace(' ', '') for i in repos]
repos

['gto76/python-cheatsheet',
 'j3ssie/Osmedeus',
 'tangzixiang0304/Shielded_detector',
 'uber/ludwig',
 'xinshuoweng/AB3DMOT',
 'NVlabs/stylegan',
 'dagster-io/dagster',
 'tensorflow/models',
 'eragonruan/text-detection-ctpn',
 'sherlock-project/sherlock',
 'deepfakes/faceswap',
 'nbei/Deep-Flow-Guided-Video-Inpainting',
 'iovisor/bcc',
 'Roibal/Cryptocurrency-Trading-Bots-Python-Beginner-Advance',
 'NVIDIA/DeepLearningExamples',
 'BlackHC/tfpyth',
 'clovaai/deep-text-recognition-benchmark',
 'tkat0/PyTorch_BlazeFace',
 'OpenMined/PySyft',
 'CoreyMSchafer/code_snippets',
 'public-apis/public-apis',
 'd2l-ai/d2l-zh',
 'apache/airflow',
 'beecost/bee-university',
 'sundowndev/PhoneInfoga']

#### Display all the image links from Walt Disney wikipedia page

In [373]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [374]:
#your code
Walt = requests.get(url).content
walt_soup = BeautifulSoup(Walt, 'html')

In [375]:
imgs = walt_soup.find_all('div', {"class":"thumbinner"})

In [376]:
l = []
for i in range(len(imgs)):
    for img in (imgs[i].find_all('a', href=True)):
                l.append(img['href'])
l

['/wiki/File:Walt_Disney_envelope_ca._1921.jpg',
 '/wiki/File:Walt_Disney_envelope_ca._1921.jpg',
 '//upload.wikimedia.org/wikipedia/commons/4/4d/Newman_Laugh-O-Gram_%281921%29.webm',
 '/wiki/File:Newman_Laugh-O-Gram_(1921).webm',
 '/wiki/File:Trolley_Troubles_poster.jpg',
 '/wiki/File:Trolley_Troubles_poster.jpg',
 '/wiki/Trolley_Troubles',
 '/wiki/File:Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg',
 '/wiki/File:Walt_Disney_and_his_cartoon_creation_%22Mickey_Mouse%22_-_National_Board_of_Review_Magazine.jpg',
 '/wiki/Mickey_Mouse',
 '/wiki/File:Steamboat-willie.jpg',
 '/wiki/File:Steamboat-willie.jpg',
 '/wiki/Mickey_Mouse',
 '/wiki/Steamboat_Willie',
 '/wiki/File:Walt_Disney_1935.jpg',
 '/wiki/File:Walt_Disney_1935.jpg',
 '/wiki/File:Walt_Disney_Snow_white_1937_trailer_screenshot_(13).jpg',
 '/wiki/File:Walt_Disney_Snow_white_1937_trailer_screenshot_(13).jpg',
 '/wiki/Snow_White_and_the_Seven_Dwarfs_(1937_film)',
 '/wiki/File:Disney_drawing_goofy.jpg',
 '/wiki/File:Disney_drawing_goofy.jpg',
 '/wiki/Goofy',
 '/wiki/File:DisneySchiphol1951.jpg',
 '/wiki/File:DisneySchiphol1951.jpg',
 '/wiki/File:WaltDisneyplansDisneylandDec1954.jpg',
 '/wiki/File:WaltDisneyplansDisneylandDec1954.jpg',
 '/wiki/Disneyland',
 '/wiki/Orange_County,_California',
 '/wiki/File:Walt_disney_portrait_right.jpg',
 '/wiki/File:Walt_disney_portrait_right.jpg',
 '/wiki/File:Walt_Disney_Grave.JPG',
 '/wiki/File:Walt_Disney_Grave.JPG',
 '/wiki/File:Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 '/wiki/File:Roy_O._Disney_with_Company_at_Press_Conference.jpg',
 '/wiki/Roy_O._Disney',
 '/wiki/File:Disney_Display_Case.JPG',
 '/wiki/File:Disney_Display_Case.JPG',
 '/wiki/The_Walt_Disney_Family_Museum',
 '/wiki/File:Disney1968.jpg',
 '/wiki/File:Disney1968.jpg']

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [ ]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python' 
html = requests.get(url).content

In [ ]:
#your code
soup = BeautifulSoup(html, 'lxml')
ul = soup.find_all('ul')
ul= ul[2:14]

In [ ]:
l = [img['href'] for i in range(len(ul)) for img in (ul[i].find_all('a', href=True)) ] 
l

#### Number of Titles that have changed in the United States Code since its last release point

In [ ]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'
html = requests.get(url).content

In [ ]:
#your code
soup = BeautifulSoup(html, 'lxml')
#soup
titles = soup.find_all('div', {'class':'usctitlechanged'})

#### A Python list with the top ten FBI's Most Wanted names

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'
html = requests.get(url).content

In [ ]:
#your code 
soup = BeautifulSoup(html, 'lxml')
titles = soup.find_all('h3', {'class':'title'})

In [ ]:
buscados = [nombre.text.replace("\n", "") for nombre in titles]
buscados

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'
html = requests.get(url).content

In [ ]:
#your code
soup = BeautifulSoup(html, 'lxml')

datetime = soup.find_all('td', {'class':'tabev6'})
lyl = soup.find_all('td', {'class':'tabev1'})
region = soup.find_all('td', {'class':'tb_region'})

In [ ]:
limpdate =[str(fecha.text.replace('\xa0', ' ')) for fecha in datetime]
datefull = []
for fecha in limpdate:
    fecha = fecha.replace('earthquake', '')
    fecha =fecha.replace('ago', '')
    datefull.append(fecha)

In [ ]:
lat =[]
lon = []
for latlon in range(len(lyl)):
    if latlon %2 == 0:
        lat.append(lyl[latlon].text.replace('\xa0', ''))
    else:
        lon.append(lyl[latlon].text.replace('\xa0', ''))

In [ ]:
lugar =[fecha.text for fecha in region]

In [ ]:
df = pd.DataFrame({'Date and time':datefull, 'Latitud':lat, 'Longitud':lon, 'Region':lugar})
df.head(20)

#### Display the date, and title of upcoming hackathon events as a Pandas dataframe table

In [291]:
# This is the url you will scrape in this exercise
url ='https://hackevents.co/hackathons'

In [304]:
#your code
hackatons_soup = requests.get(url).content
hackatons_soup = BeautifulSoup(hackatons_soup, 'html5lib')

In [342]:
hackis = hackatons_soup.find_all('div', {'class':'card-body'})

In [343]:
hacks = [hackis[i].text for i in range(len(hackis))]
hacks = [i.split("\u2003") for i in hacks]

['Code Geist Hackathon by SefrWahed\u20037/29/2019\n\n\u2003Cairo, Egypt',
 'The Code Factor\u20035/21/2019\n\n\u2003Milano, Italy',
 'TECHFEST MUNICH\u20039/6/2019\n\n\u2003Munich, Germany',
 'Galileo App Competition\u20031/31/2019\n\n\u2003Prague, Czech Republic']

In [348]:
hacks = pd.DataFrame(hacks)
hacks[1] = hacks[1].apply(lambda x:x.replace('\n', ''))
hacks

                                   0          1                       2
0  Code Geist Hackathon by SefrWahed  7/29/2019            Cairo, Egypt
1                    The Code Factor  5/21/2019           Milano, Italy
2                    TECHFEST MUNICH   9/6/2019         Munich, Germany
3            Galileo App Competition  1/31/2019  Prague, Czech Republic

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [300]:
#your code
usr_input = input('Check the tweets of an account:')
try:
    twitter_follows = requests.get('https://twitter.com/'+usr_input).content
except:
    print('The account does not exist')
twitter_follows = BeautifulSoup(twitter_follows, 'lxml')
twitter_follows = twitter_follows.find_all('span', {'class': 'ProfileNav-value'})
twitter_follows[0]['data-count']

Check the tweets of an account:shiroiusagi4486

'76'

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [298]:
#your code
usr_input = input('Check the followers of an account:')
try:
    twitter_follows = requests.get('https://twitter.com/'+usr_input).content
except:
    print('The account does not exist')
twitter_follows = BeautifulSoup(twitter_follows, 'lxml')
twitter_follows = twitter_follows.find_all('span', {'class': 'ProfileNav-value'})
twitter_follows[2]['data-count']

Check the followers of an account:uaquiro

'302'

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [207]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

In [208]:
#your code
wikissup = requests.get(url).content
wikissup = BeautifulSoup(wikissup, 'lxml')

In [211]:
langs = wikissup.find_all('div', {'class':'central-featured'})

In [268]:
langu = []
for i in range(len(langs)):
    langu.append(langs[i].find_all('strong'))
langu = [i for i in langu[0]]
langu = [i.text for i in langu]

['English',
 '日本語',
 'Español',
 'Deutsch',
 'Русский',
 'Français',
 'Italiano',
 '中文',
 'Português',
 'Polski']

In [245]:
numbers = [] 
for i in range(len(langs)):
    numbers.append(langs[i].find_all('small'))
numbers = [i.text for i in langs]
numbers = [i.replace('\n', '') for i in numbers]
numbers = [i.split('+') for i in numbers]
numbers

[['English5\xa0892\xa0000',
  ' articles日本語1\xa0159\xa0000',
  ' 記事Español1\xa0532\xa0000',
  ' artículosDeutsch2\xa0323\xa0000',
  ' ArtikelРусский1\xa0556\xa0000',
  ' статейFrançais2\xa0123\xa0000',
  ' articlesItaliano1\xa0541\xa0000',
  ' voci中文1\xa0065\xa0000',
  ' 條目Português1\xa0010\xa0000',
  ' artigosPolski1\xa0346\xa0000',
  ' haseł']]

In [257]:
numbers = [re.findall('\d', i) for i in liss]

In [258]:
numberss = ["".join(numbers[i]) for i in range(len(numbers))]
numbers = numberss[:-1]
numbers

['5892000',
 '1159000',
 '1532000',
 '2323000',
 '1556000',
 '2123000',
 '1541000',
 '1065000',
 '1010000',
 '1346000']

In [269]:
d = {'Language':langu, 'Articles':numbers}
Wiki_df = pd.DataFrame(d)
Wiki_df

    Language Articles
0    English  5892000
1        日本語  1159000
2    Español  1532000
3    Deutsch  2323000
4    Русский  1556000
5   Français  2123000
6   Italiano  1541000
7         中文  1065000
8  Português  1010000
9     Polski  1346000

#### A list with the different kind of datasets available in data.gov.uk

In [191]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [192]:
#your code 
datasets_soup = requests.get(url).content
datasets_soup = BeautifulSoup(datasets_soup, 'lxml')

In [195]:
names = datasets_soup.find_all('h2')
names_s1 = [i.text for i in names]

print(names_s1)

['Business and economy', 'Crime and justice', 'Defence', 'Education', 'Environment', 'Government', 'Government spending', 'Health', 'Mapping', 'Society', 'Towns and cities', 'Transport']

In [204]:
descp = datasets_soup.find_all('p')
descp = descp[5:-2]
descp = [i.text for i in descp]

In [206]:
d = {'Dataset':names_s1, 'Description': descp}
DataSets = pd.DataFrame(d)
DataSets

                 Dataset                                        Description
0   Business and economy  Small businesses, industry, imports, exports a...
1      Crime and justice  Courts, police, prison, offenders, borders and...
2                Defence  Armed forces, health and safety, search and re...
3              Education  Students, training, qualifications and the Nat...
4            Environment  Weather, flooding, rivers, air quality, geolog...
5             Government  Staff numbers and pay, local councillors and d...
6    Government spending  Includes all payments by government department...
7                 Health  Includes smoking, drugs, alcohol, medicine per...
8                Mapping  Addresses, boundaries, land ownership, aerial ...
9                Society  Employment, benefits, household finances, pove...
10      Towns and cities  Includes housing, urban planning, leisure, was...
11             Transport  Airports, roads, freight, electric vehicles, p...

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [349]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [350]:
#your code
table_lang = requests.get(url).content
table_soup = BeautifulSoup(table_lang, 'html')

In [351]:
tables = table_soup.find_all('tr')

In [352]:
tabless = []
for i in range(len(tables)):
    tabless.append(tables[i])

In [353]:
tal = [tabless[i].text.split("\n\n") for i in range(len(tabless))]

In [354]:
talcual = pd.DataFrame(tal)
talcual = talcual[:11]
talcual[0] = talcual[0].apply(lambda x: x.replace('\n', ''))
talcual[8] = talcual[8].apply(lambda x: x.replace('\n', ''))
talcual

,0,1,2,3,4,5,6,7,8
0,Rank,Rank,Language,Primary Country,TotalCountries[a],Speakers(millions),% of the World population\n(March 2019)[7],\nMacrolanguage,Language familyBranch
1,—,1,Chinese (macrolanguage),China,39,"1,311",17.026,,Sino-TibetanSinitic
2,1,—,Mandarin,China,13,918,11.922,Chinese,Sino-TibetanSinitic
3,2,2,Spanish,Spain,31,460,5.974,,Indo-EuropeanRomance
4,3,3,English,United Kingdom,137,379,4.922,,Indo-EuropeanGermanic
5,4,4,Hindi,India,4,341,4.429,,Indo-EuropeanIndo-Aryan
6,—,5,Arabic (macrolanguage),Saudi Arabia,59,319,4.143,,AfroasiaticSemitic
7,5,6,Bengali,Bangladesh,4,228,2.961,,Indo-EuropeanIndo-Aryan
8,6,7,Portuguese,Portugal,15,221,2.870,,Indo-EuropeanRomance
9,7,8,Russian,Russian Federation,19,154,2.000,,Indo-EuropeanBalto-Slavic
10,8,9,Japanese,Japan,2,128,1.662,,JaponicJapanese

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [155]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [ ]:
#your code
fims_get = requests.get(url).content
films_soup = BeautifulSoup(films_get, 'lxml')
films_names = films_soup.find_all(<

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code

#### Book name, price and stock availability as a pandas dataframe.

In [355]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [356]:
#your code
books = requests.get(url).content
books_soup = BeautifulSoup(books, 'html')

In [357]:
names = books_soup.find_all('h3')
names_list = []
for i in range(len(names)):
    for name in (names[i].find_all('a', title=True)):
                names_list.append(name['title'])

In [358]:
prices = books_soup.find_all('p', {'class':'price_color'})

prices_list = [prices[i].text for i in range(len(prices))]

In [359]:
stock = books_soup.find_all('p', {'class':'instock availability'})
stock = [stock[i].text for i in range(len(stock))]
stock = [i.replace('\n', "") for i in stock]
stock = [re.sub('\s\s+', '', stock[i]) for i in range(len(stock))]

In [360]:
d = {"Book Name":names_list, "Price":prices_list, "Stock Availability": stock}
books = pd.DataFrame(d)
books.head()

                               Book Name   Price Stock Availability
0                   A Light in the Attic  £51.77           In stock
1                     Tipping the Velvet  £53.74           In stock
2                             Soumission  £50.10           In stock
3                          Sharp Objects  £47.82           In stock
4  Sapiens: A Brief History of Humankind  £54.23           In stock